<div class="container">
  <h3 class="text-center">Listado de Cuentas</h3>
</div>
<table class="table table-striped">
  <thead class="table table-dark">
      <tr>
          <th>Cuenta ID</th>
          <th>Cliente ID</th>
          <th>Producto</th>
          <th>Estado de Cuenta</th>
          <th>Valor Credito</th>
          <th>Fecha Apertura</th>
          <th>Fecha de Creacion</th>
          <th>Usuario de Creacion</th>
          <th>Fecha de Modificacion</th>
          <th>Usuario de Modificacion</th>
          <th>ACCIONES</th>
      </tr>
  </thead>
          <tbody class="table-hover">
          <tr *ngFor="let account of account" class="text-center">
          <td>{{account.accountId}}</td>
          <td>{{account.clientId}}</td>
          <td>{{account.product}}</td>
          <td>{{account.statusAccount}}</td>
          <td>{{account.creditValue}}</td>
          <td>{{account.openDate|date:'dd-MM-YYYY'}}</td>
          <td>{{account.creationDate|date:'dd-MM-YYYY'}}</td>
          <td>{{account.userCreation}}</td>
          <td>{{account.modificationDate|date:'dd-MM-YYYY'}}</td>
          <td>{{account.userModification}}</td>
          <td>
            <button (click)="editarCuenta(account.accountId)" class="btn btn-primary">Editar</button>
            <button (click)="eliminarCuenta(account.accountId)" class="btn btn-danger">Eliminar</button>
        </td>


  </tbody>
</table>
