.form-cliente{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 330px;
    border: 5px solid #b3b3b3;
    border-radius: 10px;
    transition: .5s ease;
    padding: 130px;
    font-size: 14px;
    
}
.form-cliente:hover{
    box-shadow: 3px 3px 50px #a87404;
}

.container-table{
margin-top: 550px;

}
.input-text-cliente{
margin-top: -115px;
align-content: center;

}
.table-cliente {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgba(173, 127, 83, 0.932);
    color: rgb(17, 16, 16);
    background-color:rgba(223, 104, 7, 0.904);
    text-align: center;
    font-size: 14px;
  }

  .p-cliente{
        
    color:#ffffff;
    padding-inline-start: 20px;
}
.inp-id{
    
    margin-right: 20px !important;
}


